<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>FAD Games Splash</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <main>    
        <section id="mainFeatured">
            <img src="/images/fad-logo.png">
            <h1>Welcome to FAD Games</h1>
        </section>

        <section class="threeContainer">
            <div id="topGames" class="threeSet">
                <% topFourGames.forEach(element=> { %>
                    <div class="fourPanel">
                        <a href="/games/<%= element.id %>"><img src="<%= element.image %>" alt="<%= element.name %> game box"></a>
                        <% for (let i=0; i<Math.floor(element.avgRating); i++) { %>
                            <i class="fas fa-star filled"></i>
                        <% } %>
                    </div>
                <% }) %>
            </div>
            <div class="threeSet">
            </div>
            <div class="threeSet">
                <% topFourUsers.forEach(element=> { %>
                    <div class="fourPanel">
                        <a href="/users/<%= element.id %>"><img src="<%= element.profilePic %>" alt="<%= element.username %> picture"></a>
                    </div>
                <% }) %>
            </div>
        </section>

        <section class=circleContainer>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
        </section>

        <section class="threeContainer">
            <div class="halfSet"></div>
            <div class="fourthSet">
                <img src="https://picsum.photos/200/200">
            </div>
            <div class="fourthSet"></div>
        </section>

        <section class="threeContainer">
            <div class="threeSet">
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
            </div>
            <div class="threeSet">
            </div>
            <div class="threeSet">
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
                <div class=fourPanel></div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>