<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>FAD Games</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <main>
        <section class="main-featured">
            <img src="/images/fad-logo.png">
            <h1>Welcome to FAD Games</h1>
        </section>
        <h3 class="main-title">Top Rated</h3>
        <section class="three-container top-container">
            <div id="topGames" class="three-set">
                <% for (let i = 1; i<5;i++){ %>
                    <div class="four-panel">
                        <a href="/games/<%= topNineGames[i].id %>"><img src="<%= topNineGames[i].image %>" alt="<%= topNineGames[i].name %> game box"></a>
                        <h5><%= topNineGames[i].name %></h5>
                    </div>
                <% } %>
            </div>
            <div class="three-set middle-best">
                <a href="/games/<%= topNineGames[0].id %>"><img src="<%= topNineGames[0].image %>" alt="<%= topNineGames[0].name %> game box"></a>
                <h3><%= topNineGames[0].name %></h3>
            </div>
            <div class="three-set">
                <% for (let i = 5; i<9;i++){ %>
                    <div class="four-panel">
                        <a href="/games/<%= topNineGames[i].id %>"><img src="<%= topNineGames[i].image %>" alt="<%= topNineGames[i].name %> game box"></a>
                        <h5><%= topNineGames[i].name %></h5>
                    </div>
                <% } %>
            </div>
        </section>
        <h3 class="main-title">See reviews left by our amazing users</h3>
        <section class=circle-container>
            <% topFiveUsers.forEach(element=> { %>
                <div class="round">
                    <a href="/users/<%= element.id %>"><img src="<%= element.profilePic %>" alt="<%= element.username %> picture"></a>
                </div>
            <% }) %>
        </section>
        <section class="three-container">
            <div class="half-set">
                <i class="fas fa-quote-left"></i>
                    <p><%= randomGame.review %></p>
                <div>
                    <% for (let i=0; i<randomGame.rating; i++) { %>
                    <i class="fas fa-star filled"></i>
                <% } %>
                </div>
            </div>
            <div class="fourth-set">
                <a href="/games/<%= randomGame.id %>"><img src="<%= randomGame.image %>" alt="<%= randomGame.name %> game box"></a>
            </div>
            <div class="ad-set">
                ADVERTISMENT
            </div>
        </section>
        <%- include('./partials/footer') %>
    </main>
</body>
</html>