<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Games Index</title>
</head>
<body>
    <main>
        <h1>Game Index</h1>
        <ul>
            <% games.forEach(element=>{ %>
                <li><a href="/games/<%= element._id %>"><%= element.name %></a>
                    <div>
                        <a href="/games/<%= element._id %>/edit">Edit</a>
                        <form action="/games/<%= element._id %>?_method=DELETE" method="POST">
                            <button type="submit">DELETE</button>
                        </form>
                    </div>
                </li>
            <% }) %>
        </ul>
    </main>
</body>
</html>