<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Games</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <main>
        <section class="index-container">
            <div class="ad-long">
                ADVERTISMENT
            </div>
                <ul class="index-ul">
                <% games.forEach(element=>{ %>
                <li class="index-list">
                    <div class="pic-holder">
                        <img src="<%= element.image%>">
                    </div>
                    <div class=index-info>
                        <a class="title" href="/games/<%= element._id %>"><%= element.name %></a>
                        <p><%=element.description%></p>
                        <div class="edit-delete">
                            <a href="/games/<%= element._id %>/edit">Edit</a>
                            <form action="/games/<%= element._id %>?_method=DELETE" method="POST">
                                <button type="submit">DELETE</button>
                            </form>
                        </div>
                    </div>
                </li>
                <% }) %>
                </ul>
            <div class="ad-long">
                ADVERTISMENT
            </div>
        </section>
        <%- include('../partials/footer') %>
    </main>
</body>
</html>
