<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Edit <%= selected.name %></title>
</head>
<body>
  <%- include('../partials/nav') %>
    <main>
      <div class=threeContainer>
        <div class=picHolder>
          game box
        </div>
        <div class=formHolder>
          <h1>Edit <%= selected.name %></h1>
          <form action="/games/<%= selected._id %>?_method=PUT" method="POST">
            <div>
              <label for="name" class="list-title">Name:</label>
              <input type="text" name="name" id="gameName" value="<%= selected.name %>" />
            </div>
            <div>
              <label for="description" class="list-title">Description:</label>
              <input type="text" name="description" id="gameDescription" value="<%= selected.description %>" />
            </div>
            <div>
              <label for="minPlayers" class="list-title">Minimum Number of Players:</label>
              <input type="number" name="minPlayers" id="gameMinPlayers" value="<%= selected.numPlayers.min %>" />
            </div>
            <div>
              <label for="maxPlayers" class="list-title">Maximum Number of Players:</label>
              <input type="number" name="maxPlayers" id="gameMaxPlayers" value="<%= selected.numPlayers.max %>" />
            </div>
            <div>
              <label for="minPlayTime" class="list-title">Minimum Play Time:</label>
              <input type="number" name="minPlayTime" id="gameMinPlayTime" value="<%= selected.playTime.min %>" />
            </div>
            <div>
              <label for="maxPlayTime" class="list-title">Maximum Play Time:</label>
              <input type="number" name="maxPlayTime" id="gameMaxPlayTime" value="<%= selected.playTime.max %>" />
            </div>
            <div>
              <label for="ageRating" class="list-title">Age Rating:</label>
              <input type="number" name="ageRating" id="gameAgeRating" value="<%= selected.ageRating %>" />
            </div>
            <div>
              <label for="designer" class="list-title">Designers:</label>
              <input type="text" name="designer" id="gameDesigner" value="<%= selected.designer.join(', ') %>" />
            </div>
            <div>
              <label for="genre" class="list-title">Genres:</label>
              <input type="text" name="genre" id="gameGenre" value="<%= selected.genre.join(', ') %>" />
            </div>
            <div>
              <label for="image" class="list-title">Image URL:</label>
              <input type="text" name="image" id="gameImage" value="<%= selected.image %>" />
            </div>
            <div>
              <button type="submit">Submit</button>
            </div>
            </form>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
