<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <!-- review-edit JS -->
    <script src="/scripts/review-edit.js" defer></script>
    <title>Edit Review</title>
  </head>
  <body>
    
    <main>
      <div class="threeContainer">
        <div class=formHolder>
          <h1>Edit Review</h1>
          <form action="/reviews/<%= selected._id %>?_method=PUT" method="POST">
            <div>
                <label for="username" class="list-title">Username: <%= selected.user.username %></label>
            </div>
            <div>
                <label for="gameName" class="list-title">Game Name: <%= selected.game.name %></label>
            </div>
            <div>
                <label for="rating" class="list-title">Rating (1-10):</label>
                <input id="rating" class="rating" type="number" name="rating" value=<%= selected.rating %>>
                <i id="star0" class="fas fa-star review-star"></i>
                <i id="star1" class="fas fa-star review-star"></i>
                <i id="star2" class="fas fa-star review-star"></i>
                <i id="star3" class="fas fa-star review-star"></i>
                <i id="star4" class="fas fa-star review-star"></i>
                <i id="star5" class="fas fa-star review-star"></i>
                <i id="star6" class="fas fa-star review-star"></i>
                <i id="star7" class="fas fa-star review-star"></i>
                <i id="star8" class="fas fa-star review-star"></i>
                <i id="star9" class="fas fa-star review-star"></i>
            </div>
            <div>
                <label for="review" class="list-title">Review:</label>
                <input type="text" name="review" value="<%= selected.review %>">
            </div>
            <div>
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
