<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>New Review</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <div class="threeContainer">
        <div class=holder>
          ADVERTISMENT
        </div>
        <div class=formHolder>
          <h1>New Review</h1>
          <h3>By <%= username %></h3>
          <form action="/reviews" method="POST">
            <div>
              <label for="gameName" class="list-title">Game Name: </label>
              <select name="gameName" id="game-name-select" required>
                <option value=""></option>
                <% games.forEach(element=>{ %>
                  <option value="<%= element.name %>"><%= element.name %></option>
                <% }) %>
              </select>
              <div>
                <%= message %>
              </div>
            </div>
            <div>
                <label for="rating" class="list-title">Rating (1-10):</label>
                <input id="rating" class="rating" type="number" name="rating" required>
                <i id="star0" class="fas fa-star review-star"></i>
                <i id="star1" class="fas fa-star review-star"></i>
                <i id="star2" class="fas fa-star review-star"></i>
                <i id="star3" class="fas fa-star review-star"></i>
                <i id="star4" class="fas fa-star review-star"></i>
                <i id="star5" class="fas fa-star review-star"></i>
                <i id="star6" class="fas fa-star review-star"></i>
                <i id="star7" class="fas fa-star review-star"></i>
                <i id="star8" class="fas fa-star review-star"></i>
                <i id="star9" class="fas fa-star review-star"></i>
            </div>
            <div>
                <label for="review" class="list-title">Review:</label>
                <input type="text" name="review">
            </div>
            <div>
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
