<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= selected.username %></title>
</head>
<body>
    <main>
        <%- include('../partials/nav') %>
        <h1><%= selected.username %></h1>
        <img src="<%= selected.profilePic %>" alt="<%= selected.username %> user profile pic">
        <ul>
            <li><span class="list-title">All Reviews:</span>
                <% selected.reviews.forEach(element => { %>
                    <li>
                        <a href="/games/<%= element.game._id %>"><%= element.game.name %></a>
                        <%= element.rating %>
                        <%= element.review %>
                        <a href="/reviews/<%= element._id %>/edit">Edit Review</a>
                        <form action="/reviews/<%= element._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete Review</button>
                        </form>
                    </li>
                <% }); %>
            </li>
        </ul>
        <%- include('../partials/footer') %>
    </main>
</body>
</html>