<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>All Users</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <main>
        <section id="indexContainer">
            <div class="adLong">
                ADVERTISMENT
            </div>
                <ul class="indexUl">
                <% users.forEach(element=>{ %>
                <li id="indexList">
                    <div class="picHolder">
                        <img src="<%=element.profilePic%>">
                    </div>
                    <div class=indexInfo>
                        <a class="title" href="/users/<%= element._id %>"><%= element.username %></a>
                        <div class="editDelete">
                            <a href="/users/<%= element._id %>/edit">Edit</a>
                            <form action="/users/<%= element._id %>?_method=DELETE" method="POST">
                                <button type="submit">DELETE</button>
                            </form>
                        </div>
                    </div>
                </li>
                <% }) %>
                </ul>
            <div class="adLong">
                ADVERTISMENT
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
