<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= selected.username %></title>
</head>
<body>
    <main>
        <%- include('../partials/nav') %>
        <h1><%= selected.username %></h1>
        <img src="<%= selected.profilePic %>" alt="<%= selected.username %> user profile pic">
        <ul>
            <li><span class="list-title">All Reviews:</span>
                <%= reviews %>
            </li>
        </ul>
    </main>
</body>
</html>