<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= selected.username %></title>
</head>
<body>
    <main>
        <%- include('../partials/nav') %>
        <h1><%= selected.username %></h1>
        <div class="threeContainer">
            <img class="profilePic" src="<%= selected.profilePic %>" alt="<%= selected.username %> user profile pic">
            <div class=twoHolder>
                <h3>All Reviews:</h3>
                <ul class="showUl">
                        <% selected.reviews.forEach(element => { %>
                            <li>
                                <ul class="showUl">
                                    <li><a href="/games/<%= element.game._id %>"><%= element.game.name %></a></li>
                                    <li><%= element.rating %></li>
                                    <li><%= element.review %></li>
                                    <a href="/reviews/<%= element._id %>/edit">Edit Review</a>
                                    <form action="/reviews/<%= element._id %>?_method=DELETE" method="POST">
                                        <button type="submit">Delete Review</button>
                                    </form>
                                    </br>
                                </ul>
                            </li>
                        <% }); %>
                </ul>
            </div>
        </div>
        <%- include('../partials/footer') %>
    </main>
</body>
</html>

